<%- include('header') %>
  <%- include('selection') %>

    <div id="myData"></div>

    <script>
      const fileSelector = document.getElementById('file-selector');
      fileSelector.addEventListener('change', (event) => {
        cleanMyData();
        const file = event.target.files[0];
        analyseInputJson(file);
        nextStep(2);

      });

      const saveButton = document.getElementById('save');
      saveButton.addEventListener('click', () => {
        saveOutputJson();
      });

      document.getElementById('search').addEventListener('input', () => searchcountry(search.value));
    </script>
    </body>

    </html>