#logo-section, #banner-section{
    background-color:  #2d545e;
}

#selection-section, #progress-section{ 
    background-color:  #e1b382;
}

#myData{
    background-color: #2d545e;
}

textarea[name="myTrans"] {
    background-color: #f0dfce;
}

.draft-button{
    background-color: #427c8a;
    color: #f0dfce;
}

.final-button{
    background-color: #2d545e;
    color: #fbf352;
    animation: blinker 1.5s linear infinite;
}

.logo-color{
    background-color:  #2d545e;
}

.paginationDiv{
    display: inline-block;
}

.are-small{
    white-space: nowrap;
}

#pagination{
    background-color:  #e1b382;
}

#paginationInput{
    width: 15%;
}

.paginationBtn:hover:not(.active) {
    background-color: #2d545e;
    color: white;
}

#footer-section {
    background-color: #e1b382;
}

