<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Translate Camunda</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="css/bulma-steps.min.css">
        <link rel="stylesheet" href="css/bulma-switch.min.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/snackbar.css">
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">-->
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/getCountries.js"></script>
        <script src="js/transDivCreation.js"></script>
        <script src="js/eventListeners.js"></script>
        <script src="js/infiniteScroll.js"></script>
        <script src="js/fileManagement.js"></script>
        <script src="js/progress.js"></script>
        <script src="js/furtherTranslations.js"></script>
    </head>
    <body>
        <section id="logo-section"class="hero p-2">
            <div class="container">
                <figure class="image center">
                    <img src="images/Logo_White.svg" alt="Camunda logo">
                </figure>
            </div>
        </section>
        <section id="banner-section" class="hero">
            <div class="container">
                <h1 class="title has-text-white" >Help us translating Camunda applications!
                
            </h1>
            </div>
        </section>
    </body>