<%- include('header') %>
  <%- include('selection') %>
  <%- include('dataHeader') %>

    <div id="snackbar"></div>
    <div id="myData" class="p-2">
      <div id="dataHeader"></div>
      <div id="dataGlobal"></div>
    </div>
    </div> <!--End full-->
    <%- include('footer') %>
    <script>
  document.getElementById('search').addEventListener('input', () => searchcountry(search.value));
  
      const fileSelectorPrev = document.getElementById('file-selector-prev');
        fileSelectorPrev.addEventListener('change', (event) => {
              cleanMyData();
              const file = event.target.files[0];
              savePrevPhrases(file);
      });

      const fileSelectorDiff = document.getElementById('file-selector-diff');
        fileSelectorDiff.addEventListener('change', (event) => {
          //cleanMyData();
          const file = event.target.files[0];
          console.log('before calling saveDiff')
          saveDiff(file);
          console.log('after calling saveDiff')
        });

      const fileSelector = document.getElementById('file-selector');
      fileSelector.addEventListener('change', (event) => {
        cleanMyData();
        const file = event.target.files[0];
        analyseInputJson(file);

      });

      const saveDraft = document.getElementById('saveDraft');
      saveDraft.addEventListener('click', () => {
        saveOutputJson(false);
      });

      const saveFinal = document.getElementById('saveFinal');
        saveFinal.addEventListener('click', () => {
          saveOutputJson(true);
      });

      const selectMode = document.getElementById('select-mode');
      selectMode.addEventListener('change', () => {
        var e = document.getElementById('select-mode');
        var selected = e.options[e.selectedIndex].value;
        if(selected != "0"){
          showPanel(3);
          if(selected=="2"){
            hidePreviousVersionFiles(true);
          }
          else if(selected=="1"){
            hidePreviousVersionFiles(false);
          }
        }
      });

      const selectTheme = document.getElementById('select-theme')
        selectTheme.addEventListener('change', () => {
          var e = document.getElementById('select-theme');
          var selected = e.options[e.selectedIndex].value;
          setTheme(selected);
        });
      
      
    </script>
  

