<section id="selection-section" class="section pb-1">
    <div class="container">
        <ul class="steps is-balanced">
            <li class="steps-segment  is-active">
              <span class="steps-marker"></span>
              <div class="steps-content">
                <p class="is-size-4">Step 1</p>
                <p>Select a language you want to translate to. (AI will help you)</p>

                <div class="container">
                    <div class="input-field col s6">
                    <input placeholder="e.g French" id="search" type="text" class="validate" value="" />
                    </div>
                </div>
                <div id="countryList"></div>
            </div>
            </li>
            <li class="steps-segment">
              <span class="steps-marker"></span>
              <div class="steps-content">
                <p class="is-size-4">Step 2 (Optional)</p>
                Does a previous translation exist?
                <div class="file">
                    <label class="file-label">
<!--                  <input class="file-input" file-selector type="file" id="file-selector" name="resume" accept=".json" disabled="true">-->
                      <input class="file-input" file-selector type="file" id="file-selector-prev" name="file-selector-prev" accept=".json">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Select a previous translation file
                        </span>
                      </span>
                    </label>
                  </div>

              </div>
            </li>
            <li class="steps-segment">
              <span class="steps-marker"></span>
              <div class="steps-content">
                <p class="is-size-4">Step 3</p>
                Select the latest json file to translate
                <div class="file">
                    <label class="file-label">
<!--                  <input class="file-input" file-selector type="file" id="file-selector" name="resume" accept=".json" disabled="true">-->
                      <input class="file-input" file-selector type="file" id="file-selector" name="file-selector" accept=".json">

                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                    </label>
                  </div>

              </div>
            </li>
            <li class="steps-segment">
              <span class="steps-marker"></span>
              <div class="steps-content">
                <p class="is-size-4">Step 4</p>
                <p>Translate... And save as a draft if you are tired </p>               
              </div>
            </li>
            <li class="steps-segment">
              <span class="steps-marker"></span>
              <div class="steps-content">
                <p class="is-size-4">Step 5</p>
                <button class="button draft-button is-focus" id="save" value="Save as draft">Save as a draft</button>
                <div hidden class="field">
                    <input id="draftSwitch" type="checkbox" name="draftSwitch" class="switch is-rtl" hidden>
                    <label for="draftSwitch">Draft</label>
                    Final
                  </div>
              </div>
            </li>
          </ul>
    </div>
</section>    
<section id="progress-section" class="section pt-1" hidden>
    <div class="container">
        <label id="progressText"></label>
        <progress class="progress logo-color" id="progress" value="0" max="0">progress</progress>
    </div>   
</section>
